{
    "openapi": "3.0.3",
    "info": {
        "title": "Fernand API Documentation",
        "version": "3.0",
        "description": "This is the documentation for the [Fernand](https://getfernand.com) API.",
        "termsOfService": "https://getfernand.com/terms",
        "contact": {
            "name": "Fernand Support",
            "url": "https://getfernand.com",
            "email": "support@getfernand.com"
        },
        "x-logo": {
            "url": "https://app.getfernand.com/images/favicon/icon_128.png"
        }
    },
    "servers": [
        {
            "url": "https://api.getfernand.com/v3",
            "description": "",
            "x-last-modified": 1764750693905
        }
    ],
    "paths": {
        "/conversations/{conv_id}/drafts": {
            "post": {
                "summary": "Create a new draft",
                "operationId": "createDraft",
                "tags": [
                    "Conversation Drafts"
                ],
                "parameters": [
                    {
                        "name": "conv_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "ID of the conversation to create the draft in."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "author_id": {
                                        "type": "integer",
                                        "description": "ID of the agent authoring the draft (optional if author_email is provided)."
                                    },
                                    "author_email": {
                                        "type": "string",
                                        "description": "Email of the agent authoring the draft (optional if author_id is provided)."
                                    },
                                    "target_id": {
                                        "type": "integer",
                                        "description": "ID of the agent the draft is targeted to (optional)."
                                    },
                                    "target_email": {
                                        "type": "string",
                                        "description": "Email of the agent the draft is targeted to (optional)."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "Title of the draft (optional)."
                                    },
                                    "content": {
                                        "type": "string",
                                        "description": "Content of the draft (required)."
                                    }
                                },
                                "required": [
                                    "content"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Draft created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageDraft"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input or referenced agent not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Conversation not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Creates a message draft within the specified conversation, allowing the author and optional target agent to be set by ID or email. The draft includes a title and content, and validates the existence of referenced agents. If agent details are missing or invalid, appropriate errors are returned. The draft is saved and returned upon successful creation.",
                "x-computed-hash": "5f2d133541cdfce85f7ea6164384fe2baf781e6b79335c945c51a1251c39b954",
                "x-last-modified": 1765364261
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "description": "Authenticate your account by including your secret key in API requests.\nYou can manage your API keys in the [Dashboard](https://app.getfernand.com/).\n\nAuthentication to the API is performed by using the HTTP Header X-API-Key.",
                "name": "X-API-Key",
                "in": "header",
                "x-last-modified": 1764750344730
            }
        },
        "schemas": {
            "MessageDraft": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique identifier for the message draft"
                    },
                    "title": {
                        "type": "string",
                        "maxLength": 250,
                        "nullable": true,
                        "description": "Optional title for the draft"
                    },
                    "content": {
                        "type": "object",
                        "description": "JSON object containing the draft content and metadata.\nExample:\n    {\n        \"content\": \"string\",\n        \"message-id\": \"string\",\n        \"attachments\": [\n            {\n                \"type\": \"string\",\n                \"name\": \"string\",\n                \"content\": \"string\"\n            }\n        ],\n        \"inlines\": [\n            {\n                \"type\": \"string\",\n                \"name\": \"string\",\n                \"content\": \"string\",\n                \"cid\": \"string\"\n            }\n        ],\n        \"actions\": [\n            {\n                \"name\": \"string\",\n                \"snippet_id\": 123,\n                \"data\": {}\n            }\n        ]\n    }\n"
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the draft was created (UTC)"
                    },
                    "last_updated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the draft was last updated (UTC)"
                    },
                    "conversation_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Conversation ID this draft belongs to"
                    },
                    "author_id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true,
                        "description": "Agent ID who created the draft"
                    },
                    "target_id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true,
                        "description": "Agent ID to whom the draft is targeted (null means everyone)"
                    }
                },
                "required": [
                    "conversation_id",
                    "created",
                    "last_updated"
                ]
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        }
    ],
    "externalDocs": {
        "description": "You can access our documentation online by visiting https://api.fernand.help",
        "url": "https://api.fernand.help"
    }
}